.background-video{
    object-fit: cover;
    width: 100%;
}
.header-banner{
    height: 6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.header-banner-msg_bigger{
    font-size: 1.8rem;
}
.main-container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    margin-bottom: 2rem;
}
.button{
    padding: 1rem 10rem;
    font-weight: bold;
}